<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carpenter.ssm.dao.HomeworkInfoDaoMapper">
	<insert id="insert" parameterType="com.carpenter.ssm.pojo.HomeworkInfo">
		insert into homework_info(
		homework_name,
		homework_details,
		homework_photo,
		homework_deadline,
		homework_savepath,
		homework_initiator
		)values(
		#{homework_name},
		#{homework_details},
		#{homework_photo},
		#{homework_deadline},
		#{homework_savepath},
		#{homework_initiator}
		)
	</insert>

	<delete id="delete" parameterType="String">
		delete from homework_info where homework_id = #{homework_id}
	</delete>
	
	<delete id="deleteByName" parameterType="String">
		delete from homework_info where homework_name = #{homework_name}
	</delete>

	<select id="selectAll" resultType="com.carpenter.ssm.pojo.HomeworkInfo">
		select * from homework_info order by homework_deadline desc
	</select>

	<select id="getHomeworkInfoById" resultType="com.carpenter.ssm.pojo.HomeworkInfo">
		select * from homework_info where homework_id = #{homework_id}
	</select>
	
	<select id="getIdByName" parameterType="String"  resultType="String">
		select homework_id from homework_info where homework_name = #{homework_name}
	</select>

	<update id="update" parameterType="com.carpenter.ssm.pojo.HomeworkInfo">
		update homework_info
		<set>
			<if test="homework_name!=null and homework_name!=''">homework_name = #{homework_name},</if>
			<if test="homework_details!=null and homework_details!=''">homework_details = #{homework_details},</if>
			<if test="homework_photo!=null">homework_photo = #{homework_photo},</if>
			<if test="homework_deadline!=null">homework_deadline = #{homework_deadline},</if>
		</set>
		where homework_id = #{homework_id}
	</update>

	<update id="initialize" statementType="STATEMENT">
		alter table homework_info auto_increment=0
	</update>

	<select id="deleteAssist" parameterType="String" statementType="CALLABLE">
		{call after_delete_homework(#{homework_id})}
	</select>
</mapper>